body {
    background-image: url("../img/img/emilia-home.jpg");
    background-repeat: no-repeat;
    background-position: right 0;/* Primer parametro es el eje horizontal y el segundo eje vertical */
    background-size: 70%;
}
h1{
    color: blue;
}